#proporcionPerfil{
    width: 300px;
    height: 300px;
/*  centrar imagen*/
    margin-top: 1%;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 42%;
/*  borde redondeado */
    border: 10px solid transparent;  
/*    border-color: firebrick;*/
    border-color: #f58b69 ;
    border-radius: 250px;   
/*    */

}
